a,p {
	.cool-text {
		color: red;
		font-size: 26px;
		font-style: italic;
	}
}



/*
	     ____ ______                                     _      ______                 _ _
	    / / / | ___ \                                   | |     | ___ \               | | |
	   / / /  | |_/ /_ _ _ __ __ _  __ _ _ __ __ _ _ __ | |__   | |_/ /_   _ _ __   __| | | ___  ___
	  / / /   |  __/ _` | '__/ _` |/ _` | '__/ _` | '_ \| '_ \  | ___ \ | | | '_ \ / _` | |/ _ \/ __|
	 / / /    | | | (_| | | | (_| | (_| | | | (_| | |_) | | | | | |_/ / |_| | | | | (_| | |  __/\__ \
	/_/_/     \_|  \__,_|_|  \__,_|\__, |_|  \__,_| .__/|_| |_| \____/ \__,_|_| |_|\__,_|_|\___||___/
	                                __/ |         | |
	                               |___/          |_|
*/
 
 // Toggle Styles For Classy Paragraphs
///////////////////////////////////////////////////////
.para-text-right {
	.field--name-field-text {
		order: 2;
	}
}
.para-text-right-bg {
	.field--name-field-text {
		// order: 2;
		background-color: rgba(0,0,0,0.5);
	}
}
///////////////////////////////////////////////////////
.field--name-field-content .content > .field--item > .paragraph {
	margin: 45px auto;
}

// Implements containers for paragraph types

.paragraph--type--text > .field--item,
.paragraph--type-group-column-two .field--name-field-columns-two > .content {
	@include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints)
}

///////////////////
// Block: Markup //
///////////////////
.paragraph--type--block-markup {
	.field--name-field-markup {
		iframe {
			width: 100%;
		}
	}
}
////////////////////////
//// Image: Gallery ////
////////////////////////
.paragraph--type--image-gallery {
	.field--name-field-image.field--items {
		@include media-breakpoint-up(md) {
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: center;
		}

	}
	.field--item {

		@include media-breakpoint-up(md) {
			width: calc(100% * (1/4) - 10px - 1px);
			flex-grow: 1;
			margin: 5px;
			max-width: 275px;			
		}
	}
}
//////////////////////
// Image: Landscape //
//////////////////////
.paragraph--type--image-landscape {
	min-height: 300px;
}
///////////
// Hero: //
///////////

//////////////////
// Hero: Slider //
/////////////////
.paragraph--type--hero-slider {
	position: relative;
	.flexslider {
		margin-bottom: 0px;
		border: 0px;
	}
	.details {
		position: absolute;
		bottom: 0px;
		// left: 5px;
		background-color: rgba(0,0,0,0.2);
		width: 100%;
		z-index: 10;
		.field--name-field-headline,
		.field--name-field-subtitle {
			color: #fff;
			padding-left: 30px;
		}
		.field--name-field-headline {
			font-size: 30px;
		}
		.field--name-field-subtitle {
			font-size: 18px;
		}
		.field--name-field-link-cta {
			position: absolute;
			right: 5px;
			bottom: 5px;
		}
		.field--name-field-link-cta a {
			@extend .btn;
			@extend .btn-primary;
		}
	}

}
////////////////
// Promo: CTA //
////////////////
.paragraph--type--promo-cta {

	.wrapper {
		padding: 30px 0px;
		position: relative;
		background-color: rgba(0,0,0,0.3);
		text-align: center;
		.field--name-field-headline,
		.field--name-field-subtitle {
			font-weight: 500;
		}
		.field--name-field-headline {
			font-size: 30px;
		}
		.field--name-field-subtitle {
			font-size: 18px;
		}
		.field--name-field-link-cta {
			position: absolute;
			top: auto;
			bottom: 0px;
			left: auto;
			right: 5px;
		}
		.field--name-field-link-cta a {
			@extend .btn;
			@extend .btn-primary;
		}

	}
}

////////////////////////
// Promo: Adbox Group //
////////////////////////
.paragraph--type--group-adbox {
	.field--name-field-adbox > .content {
		
		@include media-breakpoint-up(md) {
			@include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints)
			display: flex;
			flex-wrap: nowrap;
		}
	}
	.field--name-field-adbox > .content > .field--item {
		@include media-breakpoint-up(md) {
			flex-grow: 1;
			margin: 5px;			
		}
	}
	.field--name-field-adbox > .content > .field--item.items--2 {
		@include media-breakpoint-up(md) {
			width: calc(100% * (1/2) - 10px - 1px);
		}
	}
	.field--name-field-adbox > .content > .field--item.items--3 {
		@include media-breakpoint-up(md) {
			width: calc(100% * (1/3) - 10px - 1px);
		}
	}
	.field--name-field-adbox > .content > .field--item.items--4 {
		@include media-breakpoint-up(md) {
			width: calc(100% * (1/4) - 10px - 1px);
		}
	}
}

////////////////////////////////
// Promo: Adbox (individuals) //
////////////////////////////////
.paragraph--type--promo-adbox {
	.details {
		position: relative;
		background-color: rgba(0,0,0,0.2);
		width: 100%;
		z-index: 10;
		padding: 15px 0px;
		.field--name-field-headline,
		.field--name-field-subtitle {
			color: #000;
			padding-left: 15px;
		}
		.field--name-field-headline {
			font-size: 26px;
		}
		.field--name-field-subtitle {
			font-size: 16px;
		}
		.field--name-field-link-cta {
			position: absolute;
			right: 5px;
			bottom: 5px;
		}
		.field--name-field-link-cta a {
			@extend .btn;
			@extend .btn-primary;
		}
	}
}

///////////////////
// Text: + Image //
///////////////////

.paragraph--type--text-image {
	@include media-breakpoint-up(md) {
		display: flex;
		flex-wrap: nowrap;
	}
}
.paragraph--type--text-image > .field {
	@include media-breakpoint-up(md) {
		width: calc(100% * (1/2) - 10px - 1px);	
	}
}



//////////////////////////////
// Group: Text Multi Column //
//////////////////////////////
.paragraph--type--group-text-multi {
	.field--name-field-columns {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-wrap: nowrap;
		}
	}
	.field--name-field-columns > .field--item {
		margin: 15px auto;
		@include media-breakpoint-up(md) {
			flex-grow: 1;
			margin: 5px;
		}
	}
	.field--name-field-columns > .field--item.items--2 {
		@include media-breakpoint-up(md) {
			width: calc(100% * (1/2) - 10px - 1px);	
		}
		
	}
	.field--name-field-columns > .field--item.items--3 {
		@include media-breakpoint-up(md) {
			width: calc(100% * (1/3) - 10px - 1px);	
		}
		
	}
	.field--name-field-columns > .field--item.items--4 {
		@include media-breakpoint-up(md) {
			width: calc(100% * (1/4) - 10px - 1px);	
		}
	}
}
////////////////////////
// Group: Columns Two //
////////////////////////
.paragraph--type--group-columns-two {
	.field--name-field-columns-two > .content {
		@include media-breakpoint-up(md) {
			@include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints)
			display: flex;
			flex-wrap: nowrap;			
		}
	}
	.field--name-field-columns-two > .content > .field--item {
		margin: 15px;
		flex-grow: 1;
		@include media-breakpoint-up(md) {
			width: calc(100% * (1/2) - 30px - 1px);	
		}
	}	
} 


/*
	##      ## ######## ########  ########  #######  ########  ##     ##  ######
	##  ##  ## ##       ##     ## ##       ##     ## ##     ## ###   ### ##    ##
	##  ##  ## ##       ##     ## ##       ##     ## ##     ## #### #### ##
	##  ##  ## ######   ########  ######   ##     ## ########  ## ### ##  ######
	##  ##  ## ##       ##     ## ##       ##     ## ##   ##   ##     ##       ##
	##  ##  ## ##       ##     ## ##       ##     ## ##    ##  ##     ## ##    ##
	 ###  ###  ######## ########  ##        #######  ##     ## ##     ##  ######
 */
 .webform-submission-form {
 	.form-type-tel {
 		label {
 			display: block;
 		}
 	}
 }

